<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-`♡´- Registro de usuario -`♡´-</title>
</head>
<body>
    <h1 >
        ✧˖°  ⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆  Adição de usuário ⋆｡ﾟ☁︎｡⋆｡ ﾟ☾ ﾟ｡⋆ ✧˖°
    </h1>
    <form action="/users/save" method="post"></form>
    <div>
        <input type="text" name="name" id="name" placeholder="Entre com o seu nome">
    </div>
    <div>
        <input type="text" name="age" id="age" placeholder="Digite sua idade">
    </div>
    <div>
        <input type="submit"value="Cadastrar">
    </div>
    </div>

</body>
</html>